@import 'mixins/generate-colors';

:root {
	/*
	--brand: var(--primary); // will be overridden with directus_settings.project_color
	--primary: var(--brand);
	*/
	--white: #fff;
	--black: #090c0d;

}

// Primary colors

$purple: #6644ff;
$pink: #ff99dd;
$blue: #3399ff;
$green: #2ecda7;
$yellow: #fbc54f;
$orange: #ffa439;
$red: #e35169;

// Color variant names -> Color to map to said name

$color-mapping-light: (
	'purple': $purple,
	'pink': $pink,
	'blue': $blue,
	'green': $green,
	'yellow': $yellow,
	'orange': $orange,
	'red': $red,
	'secondary': $pink,
	'success': $green,
	'warning': $orange,
	'danger': $red,
);

$purple: #8866ff;
$color-mapping-dark: map-merge(
	$color-mapping-light,
	(
		'secondary': $pink,
	)
);


// Suffix -> Percentage mapping (Percentage of main color)
// Negative numbers will use secondary color for mixture.
// The percentage will be equal to the absolute value of the number.

$step-mapping: (
	'10': 10,
	'25': 25,
	'50': 50,
	'75': 75,
	'90': 90,
	// Special case, 'none' will result in no suffix
	'none': 100,
	'110': -90,
	'125': -75,
	'150': -50,
	'175': -25,
	'190': -10,
);
